.flashcardContainer {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* background-color: aliceblue; */
    width:650px;
    height: 375px;
    margin:10px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  